<!-- <footer class="mt-5" *ngIf="user$ | async as user"> -->
<footer class="mt-5">
  <div class="fixed-bottom bg-dark p-1">
    <div class="container">
      <div class="row text-center">
        <div class="col-6">
          <a [routerLink]="['']">
            HOME
            <!-- <i class="fa fa-home fa-2x"></i> -->
          </a>
        </div>

        <div class="col-6">
          <a [routerLink]="['addphotos']">
            ADD PHOTO
            <!-- <i class="fa fa-plus-circle fa-2x"></i> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
